In [1]:
import numpy as np

In [2]:
import pandas as pd

In [8]:
import pandas as pd
data = {
    "Match_ID": [1001, 1002, 1003, 1004, 1005],
    "Date": ["2024-02-17", "2024-02-18", "2024-02-19", "2024-02-20", "2024-02-21"],
    "Venue": ["Lahore", "Karachi", "Rawalpindi", "Multan", "Lahore"],
    "Team 1": ["Lahore Qalandars", "Karachi Kings", "Islamabad United", "Peshawar Zalmi", "Multan Sultans"],
    "Team 2": ["Multan Sultans", "Peshawar Zalmi", "Karachi Kings", "Islamabad United", "Lahore Qalandars"],
    "Winner": ["Multan Sultans", "Peshawar Zalmi", "Islamabad United", "Peshawar Zalmi", "Multan Sultans"],
    "Toss Winner": ["Multan Sultans", "Karachi Kings", "Islamabad United", "Peshawar Zalmi", "Multan Sultans"],
    "Toss Decision": ["Bat", "Field", "Bat", "Bat", "Field"],
    "Umpire 1": ["Aleem Dar", "Ahsan Raza", "Rashid Riaz", "Aleem Dar", "Asif Yaqoob"],
    "Umpire 2": ["Asif Yaqoob", "Aleem Dar", "Ahsan Raza", "Rashid Riaz", "Ahsan Raza"]
}
data = pd.DataFrame(data)
print(data)

   Match_ID        Date       Venue            Team 1            Team 2  \
0      1001  2024-02-17      Lahore  Lahore Qalandars    Multan Sultans
1      1002  2024-02-18     Karachi     Karachi Kings    Peshawar Zalmi
2      1003  2024-02-19  Rawalpindi  Islamabad United     Karachi Kings
3      1004  2024-02-20      Multan    Peshawar Zalmi  Islamabad United
4      1005  2024-02-21      Lahore    Multan Sultans  Lahore Qalandars

             Winner       Toss Winner Toss Decision     Umpire 1     Umpire 2
0    Multan Sultans    Multan Sultans           Bat    Aleem Dar  Asif Yaqoob
1    Peshawar Zalmi     Karachi Kings         Field   Ahsan Raza    Aleem Dar
2  Islamabad United  Islamabad United           Bat  Rashid Riaz   Ahsan Raza
3    Peshawar Zalmi    Peshawar Zalmi           Bat    Aleem Dar  Rashid Riaz
4    Multan Sultans    Multan Sultans         Field  Asif Yaqoob   Ahsan Raza

In [9]:
data.shape

(5, 10)

In [10]:
data.tail(1)

,Match_ID,Date,Venue,Team 1,Team 2,Winner,Toss Winner,Toss Decision,Umpire 1,Umpire 2
4,1005,2024-02-21,Lahore,Multan Sultans,Lahore Qalandars,Multan Sultans,Multan Sultans,Field,Asif Yaqoob,Ahsan Raza

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Match_ID       5 non-null      int64
 1   Date           5 non-null      object
 2   Venue          5 non-null      object
 3   Team 1         5 non-null      object
 4   Team 2         5 non-null      object
 5   Winner         5 non-null      object
 6   Toss Winner    5 non-null      object
 7   Toss Decision  5 non-null      object
 8   Umpire 1       5 non-null      object
 9   Umpire 2       5 non-null      object
dtypes: int64(1), object(9)
memory usage: 532.0+ bytes

In [12]:
data.values

array([[1001, '2024-02-17', 'Lahore', 'Lahore Qalandars',
        'Multan Sultans', 'Multan Sultans', 'Multan Sultans', 'Bat',
        'Aleem Dar', 'Asif Yaqoob'],
       [1002, '2024-02-18', 'Karachi', 'Karachi Kings', 'Peshawar Zalmi',
        'Peshawar Zalmi', 'Karachi Kings', 'Field', 'Ahsan Raza',
        'Aleem Dar'],
       [1003, '2024-02-19', 'Rawalpindi', 'Islamabad United',
        'Karachi Kings', 'Islamabad United', 'Islamabad United', 'Bat',
        'Rashid Riaz', 'Ahsan Raza'],
       [1004, '2024-02-20', 'Multan', 'Peshawar Zalmi',
        'Islamabad United', 'Peshawar Zalmi', 'Peshawar Zalmi', 'Bat',
        'Aleem Dar', 'Rashid Riaz'],
       [1005, '2024-02-21', 'Lahore', 'Multan Sultans',
        'Lahore Qalandars', 'Multan Sultans', 'Multan Sultans', 'Field',
        'Asif Yaqoob', 'Ahsan Raza']], dtype=object)

In [13]:
data['Winner'].value_counts()

Winner
Multan Sultans      2
Peshawar Zalmi      2
Islamabad United    1
Name: count, dtype: int64

In [15]:
data['Winner']

0      Multan Sultans
1      Peshawar Zalmi
2    Islamabad United
3      Peshawar Zalmi
4      Multan Sultans
Name: Winner, dtype: object

In [16]:
data.iloc[1:3]

,Match_ID,Date,Venue,Team 1,Team 2,Winner,Toss Winner,Toss Decision,Umpire 1,Umpire 2
1,1002,2024-02-18,Karachi,Karachi Kings,Peshawar Zalmi,Peshawar Zalmi,Karachi Kings,Field,Ahsan Raza,Aleem Dar
2,1003,2024-02-19,Rawalpindi,Islamabad United,Karachi Kings,Islamabad United,Islamabad United,Bat,Rashid Riaz,Ahsan Raza